beautifulsoup4
cutlet
deep_translator
demucs
docker
ebooklib
fastapi
ffmpeg-python
gensim
gradio
hangul-romanize
indic-nlp-library
iso-639
jieba
m4b-util
mecab
mecab-python3
pydub
nvidia-ml-py
PyOpenGL
pypinyin
ray
regex
sentencepiece
transformers
translate
tqdm
unidic
torchvggish
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
coqui-tts==0.25.3