argostranslate
beautifulsoup4
cutlet
deep_translator
demucs
docker
ebooklib
fastapi
fugashi
gradio==5.35.0
hangul-romanize
indic-nlp-library
iso-639
jieba
soynlp
pythainlp
mutagen
nvidia-ml-py
phonemizer-fork
pydub
pyannote-audio
PyOpenGL
pypinyin
ray
regex
translate
tqdm
unidic
pymupdf4llm
sudachipy
sudachidict_core
transformers==4.51.3
coqui-tts[languages]==0.26.0
torchvggish