beautifulsoup4
coqui-tts
cutlet
deep_translator
docker
ebooklib
fastapi
gensim
gradio
hangul-romanize
indic-nlp-library
iso-639
jieba
m4b-util
mecab
mecab-python3
pydub
pypinyin
ray
regex
transformers
translate
tqdm
unidic
